.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	padding: 10px;
	width: 80% !important;
	margin: 5% auto !important;
}

h5{
	margin-top: 20px;
	margin-right: 5px;
	color: grey;
}

.card .page-header h1 a {
	text-decoration: none !important;
}

.bkgd {
	margin: 0px;
	height: auto;
	width: 100%;
	background-image: url(../img/index-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.clear {
	clear: both;
}

.vehiculoContainer {
	float: left;
	width: 30%;
	margin-rigth: 3%;
	text-align: center;
}