.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	padding: 10px;
	width: 80% !important;
	margin: 5% auto !important;
}

.card .page-header h1 a {
	text-decoration: none !important;
}

.bkgd {
	margin: 0px;
	height: auto;
	width: 100%;
	background-image: url(../img/index-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.bgbars {
	background-color: #FFC415;
}

.clear {
	clear: both;
}

/*
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px    
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .social-buttons{
    margin:12px 0    
}

#login-dp .social-buttons a{
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}

.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}

.btn-google{
    color: #fff;
    background-color:#c23321;
}

.btn-google:hover{
    color: #fff;
    background-color:#59b5fa;
}
*/